html {
  scroll-behavior: smooth;

  box-sizing: border-box;

  font-size: 62.5%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
span {
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body {
  min-width: 32rem;
  margin: 0;
  padding: 0;

  background-color: var(--bg-color-primary);

  font-family: var(--font-family-primary);
  font-size: var(--base-font-size);
  font-weight: 400;
  font-style: normal;
  line-height: calc(28 / 16 * 100%);

  // TODO replace with variables
  // font-family: var(--font-family-primary), sans-serif;
  // line-height: var(--line-height-m);
  // background-color: var(--color-dark-700);
}

a {
  text-decoration: none;
}
:link {
  color: var(--color-accent-500);
}
:visited {
  color: var(--color-accent-500);
}
