:root {
  --font-family-primary: 'Inter', sans-serif;

  --font-weight-small: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --font-size-xs: 0.75rem; //12
  --font-size-s: 0.875rem; //14
  --font-size-m: 1rem; //16
  --font-size-l: 1.125rem; //18
  --font-size-xl: 1.25rem; //20
  --font-size-xxl: 1.625rem; //26

  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

}
