:root {
  --color-accent-100: #73a5ff;
  --color-accent-300: #4c8dff;
  --color-accent-500: #397df6;
  --color-accent-700: #2f68cc;
  --color-accent-900: #234e99;
  --color-success-100: #80ffbf;
  --color-success-300: #22e584;
  --color-success-500: #14cc70;
  --color-success-700: #0f9954;
  --color-success-900: #0a6638;
  --color-danger-100: #ff8099;
  --color-danger-300: #f23d61;
  --color-danger-500: #cc1439;
  --color-danger-700: #990f2b;
  --color-danger-900: #660a1d;
  --color-warning-100: #ffd073;
  --color-warning-300: #e5ac39;
  --color-warning-500: #d99000;
  --color-warning-700: #960;
  --color-warning-900: #640;
  --color-dark-100: #4c4c4c;
  --color-dark-300: #333;
  --color-dark-500: #171717;
  --color-dark-700: #0d0d0d;
  --color-dark-900: #000;
  --color-light-100: #fff;
  --color-light-300: #f7fbff;
  --color-light-500: #edf3fa;
  --color-light-700: #d5dae0;
  --color-light-900: #8d9094;
}

:root {
  --font-family-primary: "Inter", sans-serif;
  --base-font-size: 16;
  --font-weight-small: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-xs: 1.2rem;
  --font-size-s: 1.4rem;
  --font-size-m: 1.6rem;
  --font-size-l: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.6rem;
  --line-height-s: 1.6rem;
  --line-height-m: 2.4rem;
  --line-height-l: 3.6rem;
}

:root {
  --text-color-primary: var(--color-light-100);
  --text-color-secondary: var(--color-light-900);
  --text-color-disabled: var(--color-dark-100);
  --bg-color-primary: var(--color-dark-700, #0d0d0d);
  --bg-color-secondary: var(--color-dark-500, #171717);
  --bg-color-tertiary: var(--color-dark-900, #000);
  --bg-color-interactive: var(--color-dark-300, #333);
  --focus-color-primary: var(--color-accent-700);
  --focus-color-secondary: var(--color-accent-500);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 32rem;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  font-family: var(--font-family-primary);
  font-size: var(--base-font-size);
  font-style: normal;
  line-height: 175%;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:link {
  color: var(--color-accent-500);
}

:visited {
  color: var(--color-accent-500);
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/*# sourceMappingURL=index.css.map */
