.container {
  display: flex;
  flex-wrap: wrap;
  gap: 3.8rem;

  width: 100%;
  padding: 3.5rem 6.4rem 2.5rem 3.5rem;

  .avatar {
    flex-shrink: 0;
    align-self: center;
  }

  .title {
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }

  .profile {
    flex: 1 1 47rem;
    min-width: 0;

    .header {
      display: flex;
      flex-wrap: wrap;
      gap: 0.2rem;
      align-items: baseline;
      justify-content: space-between;
    }
  }
}
