:root {
  // typography

  --text-color-primary: var(--color-light-100);
  --text-color-secondary: var(--color-light-900);

  // background

  --bg-color-primary: var(--color-dark-700, #0d0d0d);
  --bg-color-secondary: var(--color-dark-500, #171717);
  --bg-color-tertiary: var(--color-dark-900, #000);
  --bg-color-interactive: var(--color-dark-300, #333);
}
