@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.6;
  }
}

@keyframes content-show {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  inset: 0;

  opacity: 0.6;
  background-color: var(--color-dark-900);
  border-radius: 2px;

  animation: verlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 37.8rem;
  min-height: 22.8rem;
  margin: 0;
  padding: 0;

  background-color: var(--bg-color-interactive);
  border: 1px solid var(--color-dark-100, #4c4c4c);
  border-radius: 2px;

  animation: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);

  .header {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
  }

  .separator {
    border: 1px solid var(--color-dark-100, #4c4c4c);
  }

  .main {
    padding: 36px 24px;
  }

  .close {
    cursor: pointer;
  }
}
