
.addedPhoto {
  margin: 0 0 12px 12px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.wrapperForImg {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
}

.closeIcon {
width: 12px;
  height: 12px;
  position: relative;
  margin-left: 64px;
  padding-top: 10px;
}

.close {
  background-color: rgba(23, 23, 23, 0.8);

  &:hover {
color: var(--color-accent-500)  }
}

.oneImage {
  margin: 12px 12px 12px 0;
}
