.addContainer {
  overflow-y: hidden;
  display: flex;
  gap: 1.2rem;
  align-items: flex-start;
  justify-content: flex-start;

  min-width: 16.2rem;
  max-width: 47rem;
  min-height: 10.6rem;
  padding: 1.2rem;

  color: var(--color-light-700);

  opacity: 0.8;
  border-radius: 0.2rem;

  &.scroll {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: var(--text-color-disabled);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(255 255 255 / 30%);
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      opacity: 1;
      background: rgb(255 255 255 / 75%);
    }
  }

  & input {
    display: none;
  }

  .label,
  .icon {
    cursor: pointer;
  }
}
