.wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;

  max-width: 85rem;
  margin: 20rem auto;
  padding: 2rem;

  animation: var(--animate);
}

.message {
  display: flex;
}

.link {
  display: inline-block;
  flex-shrink: 0;
  padding-top: 1rem;
  font-size: var(--font-size-xxl);
}
