.loader {
  display: block;

  box-sizing: border-box;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto;

  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
