.container {
  display: flex;
  flex-direction: column;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--text-color-secondary);

  .disabled {
    color: var(--text-color-disabled);
    caret-color: transparent;
  }
}

.label {
  cursor: pointer;
  color: var(--text-color-secondary);
}

.limit {
  align-self: flex-end;
  color: var(--text-color-secondary);
}

.textarea {
  resize: none;

  width: 100%;
  height: 8.4rem;
  padding: 0.6rem 1.2rem;

  background-color: var(--color-dark-500);
  border: 1px solid var(--text-color-disabled);
  border-radius: 2px;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--text-color-disabled);
  }

  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 0.3rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(255 255 255 / 75%);
  }

  &:focus {
    color: #fff;
    border: 1px solid var(--focus-color-primary);
    outline: 1px solid var(--focus-color-primary);
  }

  &:active {
    color: #fff;
    border-color: #fff;
  }

  &:disabled {
    color: var(--text-color-disabled);
    border-color: var(--text-color-disabled);
  }

  &.warning {
    border-color: var(--color-danger-500);
  }
}

.error {
  color: var(--color-danger-500);
}
