.container {
  max-width: 128rem;
  margin: 0 auto;
}

.wrapper {
  --side-menu-width: 22rem;

  max-width: 128rem;
  padding-left: calc(var(--side-menu-width) + 2.4rem);
}

.content {
  min-height: 200vh;
}
