.container {
  --side-menu-width: 22rem;

  display: flex;
  max-width: 128rem;
  margin: 0 auto;

  .wrapper {
    width: 106rem;
    margin: 0 auto;
  }

  &.mobile {
    padding-bottom: 7rem;
  }
}
