.container {
  --header-height: 6rem;

  position: fixed;
  top: var(--header-height);
  left: 0;

  width: 22rem;
  height: calc(100vh - var(--header-height));
  padding: 7.2rem 0 3.6rem 6rem;

  background-color: inherit;
  border: 1px solid transparent;
  border-right-color: #333;
}
