.wrapper {
  width: calc(30rem + 1.4rem + 2px);
  min-height: 8.4rem;
  margin: 0 auto;
  padding: 0.8rem 0.7rem;

  border: 1px solid #f00;
}

.recaptcha {
  width: 30rem;
  height: 8.4rem;
  margin: 0 auto;
}

.error {
  margin-top: 1.2rem;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #f00;
}
