

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 37.8rem;
  margin-top: 3.6rem;
  padding: 2.4rem;

  animation: var(--animate);

  .oauthIcons {
    display: flex;
    column-gap: 6rem;
    justify-content: center;
    margin: 1.3rem 0 2.4rem;

    .oauthBtn {
      cursor: pointer;
    }
  }

  .form {
    width: 100%;

    .textField {
      padding-top: 24px;
    }

    .forgotPassword {
      cursor: pointer;

      display: block;

      padding-top: 3.6rem;

      color: var(--color-light-900);
      text-align: right;
    }

    .signInBtn {
      margin: 2.4rem 0 1.8rem;
    }

    .accountText {
      display: block;
      margin-bottom: 6px;
      text-align: center;
    }
  }
}
