.large {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semi-bold);
  font-style: normal;
  line-height: var(--line-height-l);
  color: var(--text-color-primary);
  text-decoration: none;
}

.h1 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  line-height: var(--line-height-l);
  color: var(--text-color-primary);
  text-decoration: none;
}

.h2 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  line-height: var(--line-height-m);
  color: var(--text-color-primary);
  text-decoration: none;
}

.h3 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semi-bold);
  font-style: normal;
  line-height: var(--line-height-m);
  color: var(--text-color-primary);
  text-decoration: none;
}

.regular-16 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: var(--line-height-m);
  color: var(--text-color-primary);
  text-decoration: none;
}

.bold-16 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semi-bold);
  font-style: normal;
  line-height: var(--line-height-m);
  color: var(--text-color-primary);
  text-decoration: none;
}

.regular-14 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: var(--line-height-m);
  color: var(--text-color-primary);
  text-decoration: none;
}

.medium-14 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  line-height: var(--line-height-m);
  color: var(--text-color-primary);
  text-decoration: none;
}

.bold-14 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  line-height: var(--line-height-m);
  color: var(--text-color-primary);
  text-decoration: none;
}

.small {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  line-height: var(--line-height-s);
  color: var(--text-color-primary);
  text-decoration: none;
}

.semi-bold-small {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi-bold);
  font-style: normal;
  line-height: var(--line-height-s);
  color: var(--text-color-primary);
  text-decoration: none;
}

.regular-link {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: var(--line-height-m);
  color: var(--color-accent-500);
  text-decoration: underline;
  cursor: pointer;
}

.small-link {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: var(--line-height-s);
  color: var(--color-accent-500);
  text-decoration: underline;
  cursor: pointer;
}

/*# sourceMappingURL=typography.module.css.map */
