.sidebar {
  --header-height: 6rem;

  position: sticky;
  top: var(--header-height);
  transform: translateX(-100%);

  width: 22rem;

  animation: 0.6s fade-in ease-in-out forwards;

  @keyframes fade-in {
    to {
      transform: translateX(0);
    }
  }
}
