.sidebar {
  padding: 0;
  visibility: hidden;

  div {
    position: fixed !important;
    z-index: 15;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 6rem;

    visibility: visible;
    background-color: var(--bg-color-primary);
    border: 1px solid transparent;
    border-top-color: #333;
  }

  ul {
    flex-direction: row;
    gap: 3.6rem;
    align-items: center;
    justify-content: center;

    & li,
    & li:nth-child(5) {
      margin: 0;

      a {
        cursor: auto;
        display: block;

        -webkit-tap-highlight-color: transparent;

        &:hover,
        &:active {
          all: unset;
          color: var(--focus-color-primary);

          -webkit-tap-highlight-color: transparent;
        }
      }
    }
  }
}
