.container {
  width: 37.8rem;
  margin: 2.4rem auto;
  animation: var(--animate);

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;

    .oauthIcons {
      display: flex;
      column-gap: 6rem;
      justify-content: center;
      margin: 1.3rem 0;
    }

    .textField {
      margin-top: 2.4rem;
    }

    .text {
      margin-bottom: 0.6rem;
    }

    .button {
      margin-top: 2.4rem;
      margin-bottom: 1.8rem;
    }

    .policy {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2px;
      align-items: center;
      justify-content: center;

      margin-top: 2.4rem;
    }
  }
}

@media screen and (width <= 420px) {
  .container {
    margin-top: 1.7rem;
    padding-top: 0;

    background: none;
    border: none;

    animation: var(--animate);
  }

  .wrapper {
    width: 100%;
    padding: 0;
  }

  .textField {
    max-width: 330px;
    margin-top: 0;
  }

  .button {
    width: 330px;
    height: 4.8rem;
  }
}

.policyLabel {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}
