.card {
  overflow: hidden;
  height: 100%;
  border: 1px solid var(--color-dark-100);
  border-left-color: transparent;
}

.close {
  position: absolute;
  z-index: 20;
  top: -12px;
  right: -1.8rem;
}
