.card {
  width: 37.8rem;
  margin: 7.2rem auto;
  padding: 2.4rem;
  animation: var(--animate);
}

.title {
  margin-top: 2.3rem;
  text-align: center;
}

.email {
  margin-top: 3.7rem;
}

.description {
  margin-top: 0.7rem;
  color: var(--text-color-secondary);
}

.submitted {
  margin-top: 2.3rem;
}

.button {
  margin-top: 1.7rem;
}

.signUpBtn {
  margin: 2.4rem auto;
}

@media screen and (width <= 420px) {
  .card {
    width: 100%;
    margin-top: 1.7rem;
    padding: 0 1.5rem;

    background: none;
    border: none;

    animation: var(--animate);
  }

  .description {
    margin-bottom: 5.3rem;
  }

  .signUpBtn {
    width: 100%;
    height: 4.8rem;
  }

  .button {
    height: 4.8rem;
    margin-top: 3.6rem;
  }

  .title {
    margin-top: 0;
  }
}
