.list {
  scrollbar-color: var(--bg-color-primary);
  display: inline-flex;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb:horizontal,
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &.full {
    display: flex;
    flex-grow: 1;
  }
}

@media (width <= 420px) {
  .list {
    overflow: auto;
  }
}
