.container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;

  min-width: 150px;

  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.pages {
  display: flex;
  align-items: center;
}

.page {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  border: 1px solid transparent;
  border-radius: 0.13rem;

  &:focus-visible {
    border: 1px solid var(--focus-color-primary);
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &.disabled {
    pointer-events: none;
    color: var(--color-dark-100);
  }

  &.active {
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
  }
}

.dots {
  pointer-events: none;
  user-select: none;
}

.rowsPerPage {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.select {
  padding: 0.01rem 0;
}
