.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 2.4rem;
  margin-left: 2.4rem;
  padding-top: 1.8rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 5.4rem;
}
