.container {
  position: fixed;
  top: 0;
  left: 0;

  width: 22rem;
  height: 100vh;
  padding: 7.2rem 0 3.6rem 6rem;

  background-color: inherit;
  border: 1px solid transparent;
  border-right-color: #333;
}

.menu {
  display: inline-flex;
  flex-direction: column;

  & li {
    margin-bottom: 2.6rem;
  }

  & li:nth-child(5) {
    margin-bottom: 6rem;
  }

  & li:nth-child(7) {
    margin-bottom: 18rem;
  }
}
