.container {
  width: 45.6rem;
  margin: 7.2rem auto;
  padding: 2.4rem;
}

.title {
  margin-top: 2.3rem;
  text-align: center;
}

.email {
  margin-top: 3.7rem;
}

.description {
  margin-top: 0.7rem;
  color: var(--text-color-secondary);
}

.button {
  margin-top: 1.7rem;
}

.link {
  margin-top: 3rem;
  color: var(--color-accent-500);
  text-align: center;
}

.recaptcha {
  width: 30rem;
  height: 8.4rem;
  margin: 2.4rem auto 0;
}
