.link {
  cursor: pointer;

  display: inline-flex;
  gap: 1.2rem;
  justify-content: flex-start;

  min-width: 2rem;

  color: var(--text-color-primary);

  caret-color: transparent;
}

.disabled {
  pointer-events: none;
  color: var(--color-dark-100);
}
