.card {
  width: 38rem;
  min-height: 41rem;
  margin: 6rem auto;
  padding: 2.3rem 2.4rem 3.6rem;
}

.title {
  margin-top: 2.3rem;
  text-align: center;
}

.email {
  margin-top: 3.7rem;
}

.confirmation {
  margin-top: 2.4rem;
}

.description {
  color: var(--text-color-secondary);
}

.button {
  margin-top: 4.1rem;
}
