.button {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 4.8rem;
}

.bell[data-state='open'] {
  color: var(--color-accent-500);
}

.menu_content {
  will-change: transform, opacity;

  position: relative;
  z-index: 9999;
  right: 14rem;
  bottom: 8px;

  min-width: 22rem;
  max-height: 33rem;
  padding: 0 5px;

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  :hover {
    outline: none;
  }

  .main_content {
    overflow: hidden scroll;
    max-height: 33rem;
    margin-right: -6px;

    &::-webkit-scrollbar {
      width: 4px;
      height: 111px;
      margin-right: 6px;

      background-color: var(--color-dark-300);
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      box-shadow: inset 1px 1px 10px var(--color-dark-100);
    }

    .date {
      color: var(--text-color-secondary);
    }

    .labelNew {
      cursor: pointer;

      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-accent-500);
      text-align: left;

      &:hover {
        color: var(--color-accent-300);
      }
    }
  }

  .card {
    width: 33.1rem;
    margin: 0;
    padding: 16px;
    border-color: var(--color-dark-100) !important;

    .separator {
      height: 1px;
      margin: 12px 8px 12px 0;
      background-color: var(--color-dark-100);
    }
  }

  .arrow {
    position: relative;
    bottom: 0.8rem;
    left: 1.6rem;
    transform: rotate(180deg);
  }
}

/* FireworkText.css */

.text {
  cursor: pointer;

  position: relative;

  display: inline-block;

  font-size: 2rem;

  transition:
    transform 0.3s,
    opacity 0.3s;
}

.text.explode {
  animation: explode-animation 1s forwards;
}

@keyframes explode-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* Firework effect */
.text.explode::before,
.text.explode::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background: radial-gradient(circle, yellow 50%, transparent 50%);
  border-radius: 50%;

  animation: firework 1s forwards;
}

.text.explode::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.text.explode::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

@keyframes firework {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
