.container {
  width: 37.8rem;
  margin: 2.4rem auto;
  animation: var(--animate);

  .wrapper {
    flex-direction: column;
    padding: 2.4rem;

    .header {
      display: block;
      text-align: center;
    }

    .oauthIcons {
      display: flex;
      column-gap: 6rem;
      justify-content: center;
      margin: 1.3rem 0;

      .oauthBtn {
        cursor: pointer;
      }
    }

    .textField {
      margin-top: 2.4rem;
    }

    .form {
      width: 100%;
    }

    .forgotPassword {
      cursor: pointer;

      float: right;
      display: block;

      margin-top: 3.6rem;
      margin-bottom: 2.4rem;

      color: var(--color-light-900);

      transition: 0.3s color ease-in;

      &:hover {
        color: var(--text-color-primary);
      }
    }

    .signUpBtn {
      margin: 0 auto;
    }

    .signInBtn {
      margin-bottom: 1.8rem;
    }

    .accountText {
      display: block;
      margin-bottom: 6px;
      text-align: center;
    }
  }
}

@media screen and (width <= 420px) {
  .container {
    margin-top: 0;
    background: none;
    border: none;
    animation: var(--animate);
  }

  .signInBtn {
    height: 4.8rem;
  }

  .signUpBtn {
    height: 4.8rem;
  }
}
