.container {
  display: inline-block;
  background-color: transparent;
  border: none;
  caret-color: transparent;

  &.rounded,
  &.rounded img {
    border-radius: 100%;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: cover;
  background-color: var(--color-dark-500);
  filter: blur(5px);
  border-radius: 5%;

  animation: fade-in 0.3s ease-out forwards;

  @keyframes fade-in {
    to {
      filter: blur(0);
    }
  }
}
