.image {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-dark-500);
  border-radius: 5%;
  box-shadow: 0 0 0 200rem rgba(0 0 0 / 50%);

  & img {
    object-fit: cover;
  }
}

.container {
  position: relative;
  display: flex;

  .btn {
    all: unset;

    cursor: pointer;

    position: absolute;
    z-index: 20;
    top: 1.2rem;
    right: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.4rem;
    height: 2.4rem;

    background-color: var(--bg-color-primary);
    border-radius: 50%;
  }
}

.wrapper {
  overflow: hidden;
  display: inline-block;

  background-color: transparent;
  border: none;
  caret-color: transparent;

  &.rounded,
  &.rounded img {
    border-radius: 100%;
  }
}
