.container {
  overflow: hidden;
  display: inline-block;

  margin: 0;
  padding: 0;

  line-height: 100%;

  background-color: transparent;
  border: none;
  caret-color: transparent;

  &.rounded,
  &.rounded img {
    border-radius: 100%;
  }
}

.image {
  display: block;
  object-fit: cover;
  border-radius: 5%;
}
