.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 128rem;
  height: 6rem;
  margin: 0 auto;
  padding-right: 6.4rem;
  padding-left: 6rem;

  .list_wrapper {
    display: flex;
    align-items: center;
  }
}
